@import "../../styles/_variabled"; // _variabled.scss 파일 import
@import "../../styles/reset.scss"; // reset.scss 파일 import

.container {
  // container 클래스
  position: fixed; // 고정 위치
  top: 50%; // 위에서 50% 위치
  left: 50%; // 왼쪽에서 50% 위치
  transform: translate(-50%, -50%); // 위치 조정
}

.box {
  // box 클래스
  position: fixed; // 고정 위치
  top: 50%; // 위에서 50% 위치
  left: 50%; // 왼쪽에서 50% 위치
  transform: translate(-50%, -50%); // 위치 조정
  width: 30rem; // 너비 30rem
  margin: auto; // 가운데 정렬
  display: flex; // flex로 배치
  flex-direction: column; // 세로 방향으로 배치
  align-items: center; // 가운데 정렬
  justify-content: center; // 가운데 정렬
  grid-gap: 2.4rem; // 그리드 간격 2.4rem
}

.formParent {
  // formParent 클래스
  width: 100%; // 너비 100%
  display: flex; // flex로 배치
  flex-direction: column; // 세로 방향으로 배치
  grid-gap: 0.8rem; // 그리드 간격 0.8rem
}

.formGroup {
  // formGroup 클래스
  width: 100%; // 너비 100%
  padding: 0.8rem 1.2rem; // 안쪽 여백
  border: 0.1rem solid var(--sub-light); // 테두리
  border-radius: 0.8rem; // 테두리 둥글기
  position: relative; // 상대 위치
  display: flex; // flex로 배치
  align-items: center; // 가운데 정렬
  height: 4.8rem; // 높이 4.8rem
  background-color: var(--sub-bg); // 배경색

  &.active {
    // active 클래스
    align-items: flex-end; // 가운데 정렬
  }

  &:hover {
    // hover 상태
    border-color: var(--accent); // 테두리 색상
  }
}

.input {
  // input 클래스
  width: 100%; // 너비 100%
  border: none; // 테두리 없음

  &:focus {
    // focus 상태
    outline: none; // 아웃라인 없음
    color: var(--accent); // 글자색
  }
}

.inputDes {
  // inputDes 클래스
  width: fit-content; // 너비 내용에 맞게
  position: absolute; // 절대 위치
  left: 1.2rem; // 왼쪽 여백
  top: 50%; // 위에서 50% 위치
  transform: translateY(-50%); // 위치 조정
  color: var(--sub-light); // 글자색
  cursor: text; // 커서 모양

  &.active {
    // active 클래스
    top: 0.4rem; // 위 여백
    transform: none; // 위치 조정 없음
  }
}

.inputToggle {
  // inputToggle 클래스
  width: 2.4rem; // 너비 2.4rem
  height: 2.4rem; // 높이 2.4rem
  position: absolute; // 절대 위치
  top: 50%; // 위에서 50% 위치
  right: 1.2rem; // 오른쪽 여백
  transform: translateY(-50%); // 위치 조정
  cursor: pointer; // 커서 모양
  color: var(--accent); // 글자색
}

.searchPW {
  // searchPW 클래스
  width: fit-content; // 너비 내용에 맞게
  align-self: flex-end; // 오른쪽 정렬
  color: var(--accent); // 글자색
  cursor: pointer; // 커서 모양
}

.loginBtn {
  // loginBtn 클래스
  width: 100%; // 너비 100%
  background-color: var(--accent-light); // 배경색
  cursor: pointer; // 커서 모양
  color: white; // 글자색
  border-radius: 0.8rem; // 테두리 둥글기
  padding: 0.8rem 1.6rem; // 안쪽 여백

  &:hover {
    // hover 상태
    background-color: var(--accent); // 배경색
  }
}

.hrBox {
  // hrBox 클래스
  width: 100%; // 너비 100%
  height: 1.8rem; // 높이 1.8rem
  display: flex; // flex로 배치
  align-items: center; // 가운데 정렬

  >hr {
    // hr 태그
    width: 100%; // 너비 100%
    height: 0.1rem; // 높이 0.1rem
    background-color: var(--sub); // 배경색
  }

  >p {
    // p 태그
    width: 34%; // 너비 34%
    color: var(--sub); // 글자색
    text-align: center; // 가운데 정렬
  }
}

.githubBtn {
  // githubBtn 클래스
  width: 100%; // 너비 100%
  background-color: black; // 배경색
  color: white; // 글자색
  cursor: pointer; // 커서 모양
  padding: 0.8rem 1.6rem; // 안쪽 여백
  display: flex; // flex로 배치
  justify-content: center; // 가운데 정렬
  align-items: center; // 가운데 정렬
  grid-gap: 0.8rem; // 그리드 간격 0.8rem
  border-radius: 0.8rem; // 테두리 둥글기

  * {
    // 모든 하위 요소
    color: white; // 글자색
  }
}

.github {
  // github 클래스
  width: 2.4rem; // 너비 2.4rem
  height: 2.4rem; // 높이 2.4rem
}

.joinBox {
  // joinBox 클래스
  display: flex; // flex로 배치
  align-items: center; // 가운데 정렬
  grid-gap: 0.4rem; // 그리드 간격 0.4rem
}

.joinDes {
  // joinDes 클래스
  color: var(--sub); // 글자색
}

.joinBtn {
  // joinBtn 클래스
  width: fit-content; // 너비 내용에 맞게
  align-self: flex-end; // 오른쪽 정렬
  color: var(--accent); // 글자색
  text-decoration: none; // 밑줄 없음
}

.company {
  // company 클래스
  position: fixed; // 고정 위치
  bottom: 1.6rem; // 아래 여백
  display: flex; // flex로 배치
  justify-content: center; // 가운데 정렬
  align-items: center; // 가운데 정렬
  flex-direction: column; // 세로 방향으로 배치
  left: 50%; // 왼쪽에서 50% 위치
  transform: translateX(-50%); // 위치 조정
}

.companyName {
  // companyName 클래스
  color: var(--accent); // 글자색
}

.logoImg {
  // logoImg 클래스
  height: 2.8rem; // 높이 2.8rem
}