@import "../../styles/reset.scss"; // reset 스타일 파일 import
@import "../../styles/_variabled"; // 변수 파일 import

.modalWrapper {
  // 모달 래퍼 스타일
  position: fixed; // 위치 고정
  top: 0; // 위쪽에 붙임
  right: 0; // 오른쪽에 붙임
  width: 100vw; // 너비 100vw
  height: 100%; // 높이 100%
  display: flex; // 플렉스 박스로 정렬
  justify-content: center; // 가로 중앙 정렬
  align-items: center; // 세로 중앙 정렬
  background-color: rgba(0, 0, 0, 0.5); // 배경색 검은색, 투명도 50%
  z-index: 15; // z-index 값 15
  display: flex; // 플렉스 박스로 정렬
  justify-content: center; // 가로 중앙 정렬
  align-items: center; // 세로 중앙 정렬
}

.modal {
  // 모달 스타일
  display: grid; // 그리드로 정렬
  grid-template-columns: repeat(2, 1fr); // 2개의 열 생성
  width: 90%; // 너비 90%
  max-width: 96rem; // 최대 너비 96rem
  max-height: 64rem; // 최대 높이 64rem
  background-color: var(--sub-bg); // 배경색 변수 사용
  height: 90%; // 높이 90%
  aspect-ratio: 2/1; // 가로 세로 비율 2:1
  border-radius: 0.8rem; // 모서리 둥글게 처리
  box-shadow: 0 0 0.5rem 0 rgba(0, 0, 0, 0.3); // 그림자 효과
  overflow: scroll; // 스크롤 생성
}

.nav {
  // 네비게이션 스타일
  width: 2.4rem; // 너비 2.4rem
  height: 2.4rem; // 높이 2.4rem
  display: none; // 숨김 처리
  cursor: pointer; // 커서 모양 변경

  * {
    // 모든 하위 요소에 대해
    stroke: var(--accent); // 테두리 색상 변수 사용
  }
}

.postBox {
  // 포스트 박스 스타일
  padding: 2rem; // 안쪽 여백 2rem
  display: flex; // 플렉스 박스로 정렬
  flex-direction: column; // 세로 방향으로 정렬
  justify-content: space-between; // 위아래 여백을 동일하게 설정
  height: calc(100vh - 10vh); // 높이 계산
  max-height: 64rem; // 최대 높이 64rem
  gap: 1.6rem; // 요소 사이 여백 1.6rem

  >.titleBox {
    // 타이틀 박스 스타일
    display: flex; // 플렉스 박스로 정렬
    justify-content: space-between; // 양쪽 끝으로 정렬
    align-items: baseline; // 기준선에 맞춰 정렬
    gap: 0.8rem; // 요소 사이 여백 0.8rem

    >p {
      // 문단 스타일
      flex: 1; // 남은 공간 모두 차지
    }
  }

  >.postContBox {
    // 포스트 내용 박스 스타일
    flex: 1; // 남은 공간 모두 차지
    overflow: scroll; // 스크롤 생성
    background-color: var(--bg); // 배경색 변수 사용
    border-radius: 0.8rem; // 모서리 둥글게 처리
    padding: 1.6rem; // 안쪽 여백 1.6rem

    >.postContent {
      // 포스트 내용 스타일
      background-color: var(--bg); // 배경색 변수 사용
      overflow: hidden; // 넘치는 부분 숨김 처리

      >* {
        // 모든 하위 요소에 대해
        color: var(--primary); // 글자색 변수 사용
        border-color: var(--sub-light); // 테두리 색상 변수 사용
      }
    }
  }

  >.postTagBox {
    // 포스트 태그 박스 스타일
    display: flex; // 플렉스 박스로 정렬
    flex-wrap: wrap; // 넘치면 줄바꿈 처리
    gap: 0.8rem; // 요소 사이 여백 0.8rem

    >.postTagItem {
      // 포스트 태그 아이템 스타일
      padding: 0.4rem 1.6rem; // 안쪽 여백 설정
      cursor: pointer; // 커서 모양 변경

      border: {
        // 테두리 스타일
        style: solid; // 실선
        width: 0.2rem; // 두께 0.2rem
        color: var(--sub); // 색상 변수 사용
        radius: 0.8rem; // 모서리 둥글게 처리
      }

      &:hover {
        // 호버 스타일
        border-color: transparent; // 테두리 색상 투명하게 처리
        background-color: var(--accent); // 배경색 변수 사용
        color: white; // 글자색 흰색으로 변경
      }
    }
  }
}

.cmtsBox {
  display: flex;
  /* flex 컨테이너로 설정 */
  flex-direction: column;
  /* 세로 방향으로 아이템 정렬 */
  background-color: var(--thd-bg);
  /* 배경색 지정 */
  height: 100%;
  /* 높이 100%로 설정 */

  >.cmtsProfileBox {
    /* 자식 요소 중 클래스명이 cmtsProfileBox인 요소 선택 */
    display: flex;
    /* flex 컨테이너로 설정 */
    align-items: center;
    /* 수직 정렬 */
    justify-content: space-between;
    /* 양쪽 정렬 */
    padding: 1.2rem 1.6rem;
    /* 안쪽 여백 지정 */
    border-bottom: 0.1rem solid var(--sub);
    /* 아래쪽 테두리 지정 */

    >.leftBox {
      /* 자식 요소 중 클래스명이 leftBox인 요소 선택 */
      display: flex;
      /* flex 컨테이너로 설정 */
      align-items: center;
      /* 수직 정렬 */
      gap: 0.8rem;
      /* 아이템 간격 지정 */

      >.userBox {
        /* 자식 요소 중 클래스명이 userBox인 요소 선택 */
        display: flex;
        /* flex 컨테이너로 설정 */
        align-items: center;
        /* 수직 정렬 */
        gap: 0.8rem;
        /* 아이템 간격 지정 */

        >.cmtsImg {
          /* 자식 요소 중 클래스명이 cmtsImg인 요소 선택 */
          width: 3.6rem;
          /* 너비 지정 */
          height: 3.6rem;
          /* 높이 지정 */
          aspect-ratio: 1/1;
          /* 가로 세로 비율 1:1로 설정 */

          background: {
            /* 배경 설정 */
            radius: 50%;
            /* 반지름 50%로 설정 */
            size: cover;
            /* 크기 cover로 설정 */
            position: center;
            /* 위치 center로 설정 */
          }

          border: {
            /* 테두리 설정 */
            radius: 50%;
            /* 반지름 50%로 설정 */
            width: 0.2rem;
            /* 두께 0.2rem으로 설정 */
            color: var(--accent);
            /* 색상 지정 */
            style: solid;
            /* 스타일 solid로 설정 */
          }
        }

        >.nameBox {
          /* 자식 요소 중 클래스명이 nameBox인 요소 선택 */
          display: flex;
          /* flex 컨테이너로 설정 */
          flex-direction: column;
          /* 세로 방향으로 아이템 정렬 */
          justify-content: center;
          /* 수직 정렬 */
        }
      }
    }



    >.funcBox {
      /* 자식 요소 중 클래스명이 funcBox인 요소 선택 */
      display: flex;
      /* flex 컨테이너로 설정 */
      align-items: center;
      /* 수직 정렬 */
      gap: 0.8rem;
      /* 아이템 간격 지정 */

      .removeBtn,
      /* 클래스명이 removeBtn인 요소 선택 */
      .upBtn {
        /* 클래스명이 upBtn인 요소 선택 */
        color: var(--sub);
        /* 색상 지정 */
        width: 2.4rem;
        /* 너비 지정 */
        height: 2.4rem;
        /* 높이 지정 */
        cursor: pointer;
        /* 커서 모양 pointer로 설정 */

        &:hover {
          /* 호버 상태일 때 */
          color: var(--accent);
          /* 색상 지정 */
        }
      }
    }
  }

  >.cmtsCommentBox {
    /* 자식 요소 중 클래스명이 cmtsCommentBox인 요소 선택 */
    overflow: hidden;
    /* 넘치는 부분 숨김 처리 */
    padding: 1.6rem;
    /* 안쪽 여백 지정 */

    >.noExistsBox {
      /* 자식 요소 중 클래스명이 noExistsBox인 요소 선택 */
      display: flex;
      /* flex 컨테이너로 설정 */
      height: 100%;
      /* 높이 100%로 설정 */
      width: 100%;
      /* 너비 100%로 설정 */
      flex-direction: column;
      /* 세로 방향으로 아이템 정렬 */
      justify-content: center;
      /* 수직 정렬 */
      align-items: center;
      /* 수평 정렬 */

      >div {
        /* 자식 요소 중 div 요소 선택 */
        display: flex;
        /* flex 컨테이너로 설정 */
        flex-direction: column;
        /* 세로 방향으로 아이템 정렬 */
        gap: 0.4rem;
        /* 아이템 간격 지정 */
        text-align: center;
        /* 텍스트 정렬 방식 center로 설정 */
      }
    }

    >.existsBox {
      /* 자식 요소 중 클래스명이 existsBox인 요소 선택 */
      width: 100%;
      /* 너비 100%로 설정 */
      height: 100%;
      /* 높이 100%로 설정 */
      overflow: scroll;
      /* 스크롤바 표시 */
      display: flex;
      /* flex 컨테이너로 설정 */
      flex-direction: column;
      /* 세로 방향으로 아이템 정렬 */
      gap: 0.8rem;
      /* 아이템 간격 지정 */
      border-radius: 0.8rem;
      /* 모서리 둥글게 처리 */

      >.commentBox {
        /* 자식 요소 중 클래스명이 commentBox인 요소 선택 */
        border-radius: 0.8rem;
        /* 모서리 둥글게 처리 */
        background-color: var(--bg);
        /* 배경색 지정 */
        padding: 1.2rem 1.6rem;
        /* 안쪽 여백 지정 */
        display: flex;
        /* flex 컨테이너로 설정 */
        flex-direction: column;
        /* 세로 방향으로 아이템 정렬 */
        gap: 0.8rem;
        /* 아이템 간격 지정 */

        >.titleBox {
          /* 자식 요소 중 클래스명이 titleBox인 요소 선택 */
          display: flex;
          /* flex 컨테이너로 설정 */
          align-items: center;
          /* 수직 정렬 */
          justify-content: space-between;

          /* 양쪽 정렬 */
          >.profileBox {
            /* 자식 요소 중 클래스명이 profileBox인 요소 선택 */
            display: flex;
            /* flex 컨테이너로 설정 */
            align-items: center;
            /* 수직 정렬 */
            gap: 0.8rem;
            /* 아이템 간격 지정 */

            >.profileImg {
              /* 자식 요소 중 클래스명이 profileImg인 요소 선택 */
              width: 2.8rem;
              /* 너비 지정 */
              height: 2.8rem;
              /* 높이 지정 */
              aspect-ratio: 1 / 1;
              /* 가로 세로 비율 1:1로 설정 */

              border: {
                /* 테두리 설정 */
                radius: 50%;
                /* 반지름 50%로 설정 */
                style: solid;
                /* 스타일 solid로 설정 */
                width: 0.25rem;
                /* 두께 0.25rem으로 설정 */
                color: var(--accent);
                /* 색상 지정 */
              }

              background: {
                /* 배경 설정 */
                position: center;
                /* 위치 center로 설정 */
                size: cover;
                /* 크기 cover로 설정 */
                repeat: no-repeat;
                /* 반복 없음으로 설정 */
              }
            }
          }
        }

        >.comment {
          /* 자식 요소 중 클래스명이 comment인 요소 선택 */
          background-color: var(--sub-bg);
          /* 배경색 지정 */
          border-radius: 0.8rem;
          /* 모서리 둥글게 처리 */
          padding: 1.6rem;
          /* 안쪽 여백 지정 */
        }
      }
    }
  }

    >.cmtsFunctionBox {
      padding: 1.6rem;
      /* 패딩 */
      display: flex;
      /* 플렉스 박스 */
      flex-direction: column;
      /* 컬럼 방향 */
      gap: 1.6rem;
      /* 갭 */
      border-top: 0.1rem solid var(--sub);
      /* 상단 테두리 */
  
      >.cmtsFunctionBtnBox {
        display: flex;
        /* 플렉스 박스 */
        align-items: center;
        /* 수직 정렬 */
        grid-gap: 1.2rem;
        /* 그리드 갭 */
  
        >.followBtn {
          color: white;
          /* 글자 색상 */
          background-color: var(--accent);
          /* 배경 색상 */
          padding: 0.6rem 1.6rem;
          /* 패딩 */
          border-radius: 0.8rem;
          /* 테두리 반경 */
          cursor: pointer;
          /* 커서 */
  
          &:hover {
            background-color: var(--accent-light);
            /* 배경 색상 */
          }
        }
  
        >.unfollowBtn {
          color: var(--accent);
          /* 글자 색상 */
          background-color: var(--bg);
          /* 배경 색상 */
          padding: 0.6rem 1.6rem;
          /* 패딩 */
          border-radius: 0.8rem;
          /* 테두리 반경 */
          cursor: pointer;
          /* 커서 */
  
          &:hover {
            background-color: var(--thd-bg);
            /* 배경 색상 */
          }
        }
  
        >svg {
          width: 2.4rem;
          /* 너비 */
          height: 2.4rem;
          /* 높이 */
          aspect-ratio: 1 / 1;
          /* 가로 세로 비율 */
          cursor: pointer;
          /* 커서 */
          color: var(--primary);
          /* 색상 */
  
          &:hover {
            color: var(--accent);
            /* 색상 */
          }
        }
      }
  
      >.cmtsFunctionWriteBox {
        display: flex;
        /* 플렉스 박스 */
        align-items: center;
        /* 수직 정렬 */
        gap: 0.8rem;
        /* 갭 */
        height: 100%;
        /* 높이 */
  
        >div {
          height: 100%;
          /* 높이 */
          display: flex;
          /* 플렉스 박스 */
          flex-direction: column;
          /* 컬럼 방향 */
          gap: 0.8rem;
          /* 갭 */
  
          input {
            display: none;
            /* 표시하지 않음 */
          }
  
          >button {
            display: flex;
            /* 플렉스 박스 */
            justify-content: center;
            /* 수평 정렬 */
            align-items: center;
            /* 수직 정렬 */
            height: 100%;
            /* 높이 */
            background-color: var(--accent);
            /* 배경 색상 */
            color: white;
            /* 글자 색상 */
            padding: 0.4rem 1.6rem;
            /* 패딩 */
            border-radius: 0.8rem;
            /* 테두리 반경 */
            cursor: pointer;
            /* 커서 */
  
            &:hover {
              background-color: var(--accent-light);
              /* 배경 색상 */
            }
  
            svg,
            path {
              width: 1.6rem;
              /* 너비 */
              height: 1.6rem;
              /* 높이 */
            }
          }
        }
  
  
  
        >.inputComment {
          flex: 1;
          /* 플렉스 */
          max-width: calc(100% - 4.8rem - 0.8rem);
          /* 최대 너비 */
          height: 7.2rem;
          /* 높이 */
          border-radius: 0.8rem;
          /* 테두리 반경 */
          background-color: var(--bg);
          /* 배경 색상 */
  
          >div:first-child {
            border-radius: 0.8rem;
            /* 테두리 반경 */
          }
        }
      }
    }
    }
  
    .closeBtn {
      position: absolute;
      /* 절대 위치 */
      top: 0.8rem;
      /* 위쪽 여백 */
      right: 0.8rem;
      /* 오른쪽 여백 */
      width: 2.4rem;
      /* 너비 */
      height: 2.4rem;
      /* 높이 */
      border-radius: 0.8rem;
      /* 테두리 반경 */
      color: #fff;
      /* 글자 색상 */
      cursor: pointer;
      /* 커서 */
  
      &:hover {
        opacity: 75%;
        /* 불투명도 */
      }
    }
  
    @media screen and (min-width: 768px) and (max-width: 1279px) {
      .modal {
        grid-template-columns: 1fr 0.75fr;
        /* 그리드 템플릿 열 */
      }
    }
  
    @media screen and (max-width: 767px) {
      .modal {
        grid-template-columns: repeat(1, 1fr);
        /* 그리드 템플릿 열 */
        height: unset;
        /* 높이 */
        max-height: 90%;
        /* 최대 높이 */
        aspect-ratio: unset;
        /* 가로 세로 비율 */
      }
  
      .postBox {
        height: fit-content;
        /* 높이 */
      }
  
      .nav {
        display: block;
        /* 블록 요소 */
      }
    }