@import "../../styles/reset.scss";
@import "../../styles/_variabled";

.modalWrapper {
  position: fixed;
  top: 0;
  right: 0;
  width: 100vw;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 15;
  display: flex;
  justify-content: center;
  align-items: center;
}

// |이 코드는 모달 요소의 스타일을 정의하는 SCSS 코드입니다. // |
// |좋은 점:
// |- 그리드 레이아웃을 사용하여 요소를 배치하므로, 반응형 디자인에 적합합니다.
// |- 변수를 사용하여 배경색을 지정하므로, 유지보수가 용이합니다.
// |- 내부 여백, 높이, 가로 세로 비율, 모서리, 그림자 등 다양한 스타일 속성을 설정하여 모달 요소를 깔끔하고 세련된 디자인으로 만들었습니다.

.modal {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  width: 90%;
  max-width: 96rem;
  max-height: 64rem;
  background-color: var(--sub-bg);
  height: 90%;
  aspect-ratio: 2/1;
  border-radius: 0.8rem;
  box-shadow: 0 0 0.5rem 0 rgba(0, 0, 0, 0.3);
  overflow: scroll;
}

.postBox {
  padding: 2rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: calc(100vh - 10vh);
  max-height: 64rem;
  gap: 1.6rem;

  >.postContBox {
    flex: 1;
    overflow: scroll;
    background-color: var(--bg);
    border-radius: 0.8rem;
    padding: 1.6rem;

    >.postContent {
      background-color: var(--bg);
      overflow: hidden;

      >* {
        color: var(--primary);
        border-color: var(--sub-light);
      }
    }
  }

  >.postTagBox {
    display: flex;
    flex-wrap: wrap;
    gap: 0.8rem;

    >.postTagItem {
      padding: 0.4rem 1.6rem;
      cursor: pointer;

      border: {
        style: solid;
        width: 0.2rem;
        color: var(--sub);
        radius: 0.8rem;
      }

      &:hover {
        border-color: transparent;
        background-color: var(--accent);
        color: white;
      }
    }
  }
}

.cmtsBox {
  display: flex;
  flex-direction: column;
  background-color: var(--thd-bg);
  height: 100%;

  >.cmtsProfileBox {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 1.2rem 1.6rem;
    border-bottom: 0.1rem solid var(--sub);

    >.userBox {
      display: flex;
      align-items: center;
      gap: 0.8rem;

      >.cmtsImg {
        width: 3.6rem;
        height: 3.6rem;
        aspect-ratio: 1/1;

        background: {
          radius: 50%;
          size: cover;
          position: center;
        }

        border: {
          radius: 50%;
          width: 0.2rem;
          color: var(--accent);
          style: solid;
        }
      }

      >.nameBox {
        display: flex;
        flex-direction: column;
        justify-content: center;
      }
    }

    >.funcBox {
      display: flex;
      align-items: center;
      gap: 0.8rem;

      .removeBtn,
      .upBtn {
        color: var(--sub);
        width: 2.4rem;
        height: 2.4rem;
        cursor: pointer;

        &:hover {
          color: var(--accent);
        }
      }
    }
  }

  >.cmtsCommentBox {
    overflow: hidden;
    padding: 1.6rem;

    >.noExistsBox {
      display: flex;
      height: 100%;
      width: 100%;
      flex-direction: column;
      justify-content: center;
      align-items: center;

      >div {
        display: flex;
        flex-direction: column;
        gap: 0.4rem;
        text-align: center;
      }
    }

    > .existsBox {
      width: 100%;
      height: 100%;
      overflow: scroll;
      display: flex;
      flex-direction: column;
      gap: 0.8rem;
      border-radius: 0.8rem;

      > .commentBox {
        border-radius: 0.8rem;
        background-color: var(--bg);
        padding: 1.2rem 1.6rem;
        display: flex;
        flex-direction: column;
        gap: 0.8rem;

        > .titleBox {
          display: flex;
          align-items: center;
          justify-content: space-between;
          > .profileBox {
          display: flex;
          align-items: center;
          gap: 0.8rem;
  
          > .profileImg {
            width: 2.8rem;
            height: 2.8rem;
            aspect-ratio: 1 / 1;
  
            border: {
              radius: 50%;
              style: solid;
              width: 0.25rem;
              color: var(--accent);
            }
  
            background: {
              position: center;
              size: cover;
              repeat: no-repeat;
            }
          }
        }
        }
        
        > .comment {
      background-color: var(--sub-bg);
      border-radius: 0.8rem;
      padding: 1.6rem;
        }
      }
    }
  }

  >.cmtsFunctionBox {
    padding: 1.6rem;
    display: flex;
    flex-direction: column;
    gap: 1.6rem;
    border-top: 0.1rem solid var(--sub);

    >.cmtsFunctionBtnBox {
      display: flex;
      align-items: center;
      grid-gap: 1.2rem;

      >.followBtn {
        color: white;
        background-color: var(--accent);
        padding: 0.6rem 1.6rem;
        border-radius: 0.8rem;
        cursor: pointer;

        &:hover {
          background-color: var(--accent-light);
        }
      }

      >.unfollowBtn {
        color: var(--accent);
        background-color: var(--bg);
        padding: 0.6rem 1.6rem;
        border-radius: 0.8rem;
        cursor: pointer;

        &:hover {
          background-color: var(--thd-bg);
        }
      }

      >svg {
        width: 2.4rem;
        height: 2.4rem;
        aspect-ratio: 1 / 1;
        cursor: pointer;
        color: var(--primary);

        &:hover {
          color: var(--accent);
        }
      }
    }

    >.cmtsFunctionWriteBox {
      display: flex;
      align-items: center;
      gap: 0.8rem;
      height: 100%;

      >div {
        height: 100%;
        display: flex;
        flex-direction: column;
        gap: 0.8rem;

        input {
          display: none;
        }

        >button {
          display: flex;
          justify-content: center;
          align-items: center;
          height: 100%;
          background-color: var(--accent);
          color: white;
          padding: 0.4rem 1.6rem;
          border-radius: 0.8rem;
          cursor: pointer;

          &:hover {
            background-color: var(--accent-light);
          }

          svg,
          path {
            width: 1.6rem;
            height: 1.6rem;
          }
        }
      }



      >.inputComment {
        flex: 1;
        max-width: calc(100% - 4.8rem - 0.8rem);
        height: 7.2rem;
        border-radius: 0.8rem;
        background-color: var(--bg);

        >div:first-child {
          border-radius: 0.8rem;
        }
      }
    }
  }
}

.closeBtn {
  position: absolute;
  top: 0.8rem;
  right: 0.8rem;
  width: 1.5rem;
  height: 1.5rem;
  border-radius: 0.3rem;
  background-color: transparent;
  text-align: center;
  line-height: 1.5rem;
  color: #fff;
  cursor: pointer;

  &:hover {
    opacity: 75%;
  }
}

@media screen and (min-width: 768px) and (max-width: 1279px) {
  .modal {
    grid-template-columns: 1fr 0.75fr;
  }
}

@media screen and (max-width: 767px) {
  .modal {
    grid-template-columns: repeat(1, 1fr);
    height: unset;
    max-height: 90%;
    aspect-ratio: unset;
  }

  .postBox {
    height: fit-content;
  }
}