@import "../../styles/reset.scss";
@import "../../styles/_variabled";

.modalWrapper {
  position: fixed;
  top: 0;
  right: 0;
  width: 100vw;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 15;
  display: flex;
  justify-content: center;
  align-items: center;
}

// |이 코드는 모달 요소의 스타일을 정의하는 SCSS 코드입니다. // |
// |좋은 점:
// |- 그리드 레이아웃을 사용하여 요소를 배치하므로, 반응형 디자인에 적합합니다.
// |- 변수를 사용하여 배경색을 지정하므로, 유지보수가 용이합니다.
// |- 내부 여백, 높이, 가로 세로 비율, 모서리, 그림자 등 다양한 스타일 속성을 설정하여 모달 요소를 깔끔하고 세련된 디자인으로 만들었습니다.

.modal {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  width: 90%;
  max-width: 96rem;
  max-height: 64rem;
  background-color: var(--sub-bg);
  height: 90%;
  aspect-ratio: 2/1;
  border-radius: 0.8rem;
  box-shadow: 0 0 0.5rem 0 rgba(0, 0, 0, 0.3);
  overflow: scroll;
}

.postBox {
  padding: 2rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: calc(100vh - 10vh);
  max-height: 64rem;
  gap: 1.6rem;

  >.postContBox {
    flex: 1;
    overflow: scroll;
    background-color: var(--bg);
    border-radius: 0.8rem;
    padding: 1.6rem;

    >.postContent {
      background-color: var(--bg);
      overflow: hidden;

      >* {
        color: var(--primary);
        border-color: var(--sub-light);
      }
    }
  }

  >.postTagBox {
    display: flex;
    flex-wrap: wrap;
    gap: 0.8rem;

    >.postTagItem {
      background-color: var(--thd-bg);
      padding: 0.4rem 1.6rem;
      border-radius: 0.8rem;
    }
  }
}

.cmtsBox {
  display: flex;
  flex-direction: column;
  background-color: var(--thd-bg);

  >.cmtsProfileBox {
    display: flex;
    align-items: center;
    padding: 1.2rem 1.6rem;
    gap: 0.8rem;
    border-bottom: 0.1rem solid var(--sub);

    >div {
      width: 3.6rem;
      height: 3.6rem;
      aspect-ratio: 1/1;

      background: {
        radius: 50%;
        size: cover;
        position: center;
      }

      border: {
        radius: 50%;
        width: 0.2rem;
        color: var(--accent);
        style: solid;
      }
    }
  }

  >.cmtsCommentBox {
    flex: 1;
    padding: 1.6rem;
  }

  >.cmtsFunctionBox {
    padding: 1.6rem;
    display: flex;
    flex-direction: column;
    gap: 1.6rem;
    border-top: 0.1rem solid var(--sub);

    >.cmtsFunctionBtnBox {
      display: flex;
      align-items: center;
      grid-gap: 1.2rem;
      >.followBtn {
        color: white;
        background-color: var(--accent);
        padding: 0.6rem 1.6rem;
        border-radius: 0.8rem;
        cursor: pointer;

        &:hover {
          background-color: var(--accent-light);
        }
      }

      >.unfollowBtn {
        color: var(--accent);
        background-color: var(--bg);
        padding: 0.6rem 1.6rem;
        border-radius: 0.8rem;
        cursor: pointer;

        &:hover {
          background-color: var(--thd-bg);
        }
      }

      >svg {
        width: 2.4rem;
        height: 2.4rem;
        aspect-ratio: 1 / 1;
        cursor: pointer;
        color: var(--primary);

        &:hover {
          color: var(--accent);
        }
      }
    }

    > .cmtsFunctionWriteBox {
      > button, input {
        width: 100%;
        background-color: var(--sub-bg);
        text-align: start;
        padding: 0.8rem 2rem;
        border-radius: 0.8rem;
      }

      > button {
        cursor: pointer;
        color: var(--sub);
      }

      > input {
        color: var(--primary);
      }

      > .postCmtBox {
        display: flex;
        gap: 0.8rem;

        > button {
          background-color: var(--accent);
          color: white;
          padding: 0 1.6rem;
          border-radius: 0.8rem;
          cursor: pointer;

          &:hover {
            background-color: var(--accent-light);
          }
        }
      }
    }
  }
}

.closeBtn {
  position: absolute;
  top: 0.8rem;
  right: 0.8rem;
  width: 1.5rem;
  height: 1.5rem;
  border-radius: 0.3rem;
  background-color: transparent;
  text-align: center;
  line-height: 1.5rem;
  color: #fff;
  cursor: pointer;

  &:hover {
    opacity: 75%;
  }
}

.modalProfileMobile {
  display: none;
    align-items: center;
    gap: 0.8rem;

    >div {
      width: 3.6rem;
      height: 3.6rem;
      aspect-ratio: 1/1;

      background: {
        radius: 50%;
        size: cover;
        position: center;
      }

      border: {
        radius: 50%;
        width: 0.2rem;
        color: var(--accent);
        style: solid;
      }
    }
}

@media screen and (min-width: 768px) and (max-width: 1279px) {
  .modal {
    grid-template-columns: 1fr 0.75fr;
  }

  .modalProfileMobile {
    display: flex;
  }
}