@import "../../styles/reset.scss";
@import "../../styles/_variabled";

li {
  list-style: none;
}

.mainSideBar {
  // width: fit-content;
  position: relative;
  width: 25vw;
  display: flex;
  height: 100%;
  overflow: hidden;
  background-color: var(--sub-bg);
}

.sidebarIcon {
  cursor: pointer;
  transition: color 100ms ease-in-out;
  &:hover {
    color: white;
  }
}

.iconBox {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: column;
  background-color: var(--accent);
  width: 4.8rem;
  height: 100%;
  padding: 0.8rem 0rem;
  color: var(--accent-more-dark);
}

.onIconBox {
  display: flex;
  align-items: center;
  flex-direction: column;
  grid-gap: 2.4rem;
}

.logo {
  width: 2.8rem;
  height: 2.8rem;

  background: {
    position: center;
    image: url("/assets/svgs/8547076_unity_icon.svg");
    repeat: no-repeat;
    size: contain;
  }
}

.underIconBox {
  display: flex;
  flex-direction: column;
  grid-gap: 1.6rem;
  > * {
    cursor: pointer;
  }
}

.myProfile {
  width: 2.8rem;
  height: 2.8rem;
  aspect-ratio: 1 / 1;

  background: {
    position: center;
    image: url("/assets/svgs/352174_user_icon.svg");
    repeat: no-repeat;
    size: cover;
  }
  border: {
    radius: 50%;
    width: 0.2rem;
    color: var(--accent);
    style: solid;
  }
  cursor: pointer;

  &:hover {
    filter: opacity(75%);
  }
}

.contBox {
  position: absolute;
  right: 0;
  width: calc(100% - 4.8rem);
  background-color: var(--thd-bg);
  height: 100vh;
  padding: 1rem;
  color: var(--primary);
}

.contBoxIcon {
  width: 1.5rem;
}

.friendList {
  display: flex;
  flex-direction: column;
}

#code {
  width: 10rem;
}

.memoBox {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;

  &Show {
    width: 20rem;
    height: 10rem;
    font-size: 2.4rem;
  }

  &Memo {
    border-radius: 0.8rem;
    width: 100%;
    padding: 0.8rem 1.6rem;
    height: 20rem;
    font-size: 8;
    overflow-x: hidden;
    // margin-bottom: 1rem;
    // padding: 0.5rem;
    // border: none;
    // border-radius: 0.25rem;
    // background-color: #f5f5f5;
    // width: 100%;
    // height: 7rem;
    // resize: none;
    // font-size: 1rem;
    // line-height: 1.5rem;
  }

  &Btns {
    display: flex;
    justify-content: space-between;
    width: 100%;
    margin-bottom: 1rem;
  }

  &Btn {
    padding: 0.5rem 1rem;
    background-color: var(--accent);
    color: #fff;
    border: none;
    border-radius: 0.25rem;
    font-size: 1rem;
    cursor: pointer;
    transition: background-color 0.3s ease;

    &:hover {
      opacity: 75%;
    }

    &:focus {
      outline: none;
    }
  }
}

@media screen and (min-width: 1280px) {
  .mainSideBar {
    display: block;
  }
}

@media screen and (max-width: 1279px) {
  .contBox {
    display: none;
  }
}
