@import "../../styles/reset.scss";
@import "../../styles/_variabled";

.mainSideBar {
  width: fit-content;
  display: flex;
  height: 100%;
  overflow: hidden;
  background-color: var(--sub-bg);
}

.sidebarIcon {
  cursor: pointer;
  &:hover {
    color: white;
  }
}

.iconBox {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: column;
  background-color: var(--accent);
  width: 4rem;
  height: 100%;
  padding: 0.8rem 0rem;
  color: var(--accent-more-dark);
}

.onIconBox {
  display: flex;
  align-items: center;
  flex-direction: column;
  grid-gap: 2.4rem;
}

.logo {
  width: 2.4rem;
  height: 2.4rem;

  background: {
    position: center;
    image: url("/assets/svgs/8547076_unity_icon.svg");
    repeat: no-repeat;
    size: contain;
  }
}

.underIconBox {
  display: flex;
  flex-direction: column;
  grid-gap: 1.6rem;
  > * {
    cursor: pointer;
  }
}

.myProfile {
  width: 2.4rem;
  height: 2.4rem;
  aspect-ratio: 1 / 1;

  background: {
    position: center;
    image: url("/assets/svgs/352174_user_icon.svg");
    repeat: no-repeat;
    size: cover;
  }
  border: {
    radius: 50%;
    width: 0.2rem;
    color: var(--accent);
    style: solid;
  }
  cursor: pointer;

  &:hover {
    filter: opacity(75%);
  }
}

.contBox {
  width: calc(30vw - 4rem);
  background-color: var(--thd-bg);
}

@media screen and (min-width: 1280px) {
  .mainSideBar {
    display: block;
  }
}

@media screen and (max-width: 1279px) {
  .contBox {
    display: none;
  }
}
