@import "../../styles/_variabled";
@import "../../styles/reset.scss";

.mainBox {
  position: relative; /* 상대 위치 설정 */
  height: calc(var(--vh, 1vh) * 100); /* 높이 설정 */
  display: flex; /* 플렉스 박스로 설정 */
}

.subBox {
  width: calc(100vw - 4.8rem); /* 너비 설정 */
}

@media (min-width: 1280px) { /* 미디어 쿼리 */
  .subBox {
    width: 75vw; /* 너비 설정 */
  }
}