@import "../../styles/_variabled";
@import "../../styles/reset.scss";

.mainBox {
    position: relative;
    height: calc(var(--vh, 1vh) * 100);
    display: flex;

}

.subBox {
    width: calc(100vw - 4.8rem);
}

@media screen and (min-width: 1280px) {
    .subBox {
        width: 75vw;
    }
}

