@import "../../styles/reset.scss";
@import "../../styles/_variabled";

.wrapper {
  display: flex;
  justify-content: center;
  height: calc(100vh - 3.6rem);
  overflow-y: scroll;
  overflow-x: hidden;
}

.box {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 1.6rem 2.4rem;
  background-color: var(--bg);
  grid-gap: 2.4rem;
}

.writePostBtn {
  width: 100%;
  max-width: 64rem;
  padding: 0.8rem 1.6rem;
  background-color: var(--sub-bg);
  border-radius: 0.8rem;

  >.writePostTopBox {
    display: flex;
    align-items: center;
    grid-gap: 0.8rem;

    > .writePostTopImg {
      width: 3.6rem;
      height: 3.6rem;
      aspect-ratio: 1 / 1;
      cursor: pointer;
    
      background: {
        position: center;
        repeat: no-repeat;
        size: cover;
      }
    
      border: {
        radius: 50%;
        width: 0.2rem;
        color: var(--accent);
        style: solid;
      }
    
      &:hover {
        filter: opacity(75%);
      }
    }

    >.writePostTopInputBox {
      border-radius: 100rem;
      width: 100%;
      height: 3.6rem;
      padding: 0.8rem 1.6rem;
      background-color: var(--thd-bg);
      display: flex;
      align-items: center;
      cursor: pointer;
    
      &:hover {
        filter: opacity(75%);
      }
    }
  }
}

.postBox {
  width: 100%;
  max-width: 64rem;
  border-radius: 0.8rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  grid-gap: 2.4rem;

  > .postRecommendBox {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 1.6rem;

    > .titleBox {
      width: 100%;
      display: flex;
      align-items: center;
      justify-content: space-between;

    > .navBox {
      display: flex;
      align-items: center;
      gap: 1.6rem;
      .nav {
        width: 2.8rem;
        height: 2.8rem;
        cursor: pointer;
        polyline {
          stroke: var(--sub-light);
        }

        &:hover {
          polyline {
            stroke: var(--accent);
          }
        }
      }
    }
    }

    > .swiper {
      width: 100%;

      .slide {
        text-align: center;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        height: 16rem;
        border: {
          style: solid;
          width: 0.2rem;
          color: var(--sub-light);
          radius: 0.8rem;
        };
        padding: 0.8rem 1.6rem;
        cursor: pointer;
        transition: all 150ms ease-in-out;

        &:hover {
          background-color: var(--sub-bg);
        }

        > .box {
          display: flex;
          justify-content: center;
          align-items: center;
          background-color: transparent;
        }

        > .infoBox {
          display: flex;
          align-items: center;
          justify-content: space-between;

          > .leftBox {
            display: flex;
            align-items: center;
            gap: 0.8rem;
          }
        }
      }
    }
  }
    
    > .allPostBox {
      width: 100%;
      > .postItem {
        width: 100%;
        border: {
          top: 0.1rem solid var(--sub-light);
        };
        padding: 1.2rem 1.8rem;
        display: flex;
        flex-direction: column;
        gap: 1.2rem;
        cursor: pointer;

        &:hover {
          background-color: var(--sub-bg);
        }

        > .tagBox {
          display: flex;
          flex-wrap: wrap;
          grid-gap: 0.8rem;

          > .tagItem {
            padding: 0.4rem 1.6rem;
            cursor: pointer;
            border: {
              style: solid;
              width: 0.2rem;
              color: var(--sub);
              radius: 0.8rem
            };

            &:hover {
              border-color: transparent;
              background-color: var(--accent);
              color: white;
            }
          }
        }

        > .funcBox {
          display: flex;
          align-items: center;
          justify-content: space-between;

          > .rightBox {
            display: flex;
            align-items: center;
            gap: 0.8rem;
          }
        }
      }
    }
}
