// 리셋 스타일시트와 변수 파일을 가져온다.
@import "../../styles/reset.scss";
@import "../../styles/_variabled";

// 비밀번호 입력란 스타일
.passwordBox {
  border: 0.1rem solid var(--accent-light); // 경계선 스타일
  padding: 0.8rem; // 안쪽 여백
  display: block; // 블록 레벨 요소로 표시
  width: 100%; // 너비 100%
  max-width: 30rem; // 최대 너비 30rem
  margin-top: 0.5rem; // 위쪽 여백
  border-radius: 0.8rem; // 경계선 반경

}

// 변경 버튼 스타일
.changeBtn {
  padding: 0.5rem 1rem; // 안쪽 여백
  margin-top: 0.3rem; // 위쪽 여백
  background-color: var(--accent-light); // 배경색
  border: none; // 경계선 없음
  border-radius: 0.25rem; // 경계선 반경
  font-size: 1rem; // 폰트 크기
  cursor: pointer; // 커서 모양
  color: #fff; // 글자색

  &:hover {
    // 마우스 오버시 스타일
    opacity: 0.75; // 투명도 75%
  }

  &:focus {
    // 포커스시 스타일
    outline: none; // 아웃라인 없음
  }

  &:disabled {
    // 비활성화시 스타일
    background-color: #e5e5e5; // 배경색
    cursor: not-allowed; // 커서 모양
  }
}