$ACCENT_COLOR: #9564C5;
$LIGHT_THEME: (
    bg-color: #FFF,
    sub-bg-color: #F3F3F3,
    primary-color: #101010,
);
$DARK_THEME: (
    bg-color: #242028,
    sub-bg-color: #343038,
    primary-color: #FFF,
);
$SUB_COLOR: #666;
$SUB_L_COLOR: #AAA;