$LIGHT_THEME: (
  bg: #fff,
  sub-bg: #f3f3f3,
  thd-bg: #e6e6e6,
  primary: #101010,
  reverse-primary: #FFF,
  accent: #9564c5,
  accent-light: #ab7ed2,
  accent-more-light: #be94d8,
  accent-dark: #7e43b1,
  accent-more-dark: #5c2994,
  sub: #666,
  sub-semi-light: #888,
  sub-light: #aaa,
  sub-more-light: #ccc,
);
$DARK_THEME: (
  bg: #242028,
  sub-bg: #343038,
  thd-bg: #444048,
  primary: #fff,
  reverse-primary: #101010,
  accent: #9564c5,
  accent-light: #ab7ed2,
  accent-more-light: #be94d8,
  accent-dark: #7e43b1,
  accent-more-dark: #5c2994,
  sub: #666,
  sub-semi-light: #888,
  sub-light: #aaa,
  sub-more-light: #ccc,
);

:root {
  @each $k, $v in $LIGHT_THEME {
    #{"--" + $k}: #{$v};
  }
}

@media (prefers-color-scheme: dark) {
  :root {
    @each $k, $v in $DARK_THEME {
      #{"--" + $k}: #{$v};
    }
  }
}
