$LIGHT_THEME: (
  bg: #fff,
  sub-bg: #f3f3f3,
  thd-bg: #E6E6E6,
  primary: #101010,
  accent: #9564C5,
  accent-light: #AB7ED2,
  accent-dark: #7E43B1,
  sub: #666,
  sub-light: #aaa,
);
$DARK_THEME: (
  bg: #242028,
  sub-bg: #343038,
  thd-bg: #444048,
  primary: #fff,
  accent: #9564C5,
  accent-light: #AB7ED2,
  accent-dark: #7E43B1,
  sub: #666,
  sub-light: #aaa,
);

:root {
  @each $k, $v in $LIGHT_THEME {
    #{"--" + $k}: #{$v};
  }
}

@media (prefers-color-scheme: dark) {
  :root {
    @each $k, $v in $DARK_THEME {
      #{"--" + $k}: #{$v};
    }
  }
}
