@import "./_variabled";

body {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  transition: all 200ms ease-in-out;
  height: 100vh;
  width: 100vw;
  background-color: map-get($map: $LIGHT_THEME, $key: bg-color);
  p, input {
    color: map-get($map: $LIGHT_THEME, $key: primary-color);
  }
  .subBg {
    background-color: map-get($map: $LIGHT_THEME, $key: sub-bg-color);
  }
  .mainBg {
    background-color: map-get($map: $LIGHT_THEME, $key: bg-color);
  }
  &.darkTheme {
    background-color: map-get($map: $DARK_THEME, $key: bg-color);
    p, input {
      color: map-get($map: $DARK_THEME, $key: primary-color);
    }
    .subBg {
      background-color: map-get($map: $DARK_THEME, $key: sub-bg-color);
    }
    .mainBg {
      background-color: map-get($map: $DARK_THEME, $key: bg-color);
    }
  }
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  transition: all 150ms ease-in-out;
  background: transparent;
  border: none;
  outline: none;
  user-select: none;
}

i {
  font-style: normal;
}