@import "../../styles/_variabled";
@import "../../styles/reset.scss";

body.darkTheme {
  .formGroup {
    background-color: map-get($map: $DARK_THEME, $key: sub-bg-color);
  }
}

.wrapper {
  height: 100vh;
  background-color: transparent;
}

.box {
  position: fixed;
  top: 46%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 30rem;
  margin: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  grid-gap: 2.4rem;
}

.headText {
  text-align: center;
}

.githubBtn {
  width: 100%;
  background-color: black;
  color: white;
  cursor: pointer;
  padding: 0.8rem 1.6rem;
  display: flex;
  justify-content: center;
  align-items: center;
  grid-gap: 0.8rem;
  border-radius: 0.8rem;
  * {
    color: white;
  }
}

.github {
  width: 2.4rem;
  height: 2.4rem;
}

.formParent {
  width: 100%;
  display: flex;
  flex-direction: column;
  grid-gap: 0.8rem;
}

.formGroup {
  width: 100%;
  padding: 0.8rem 1.2rem;
  border: 0.1rem solid $SUB_L_COLOR;
  border-radius: 0.8rem;
  position: relative;
  display: flex;
  align-items: center;
  height: 4.8rem;
  background-color: map-get($map: $LIGHT_THEME, $key: sub-bg-color);
  &.active {
    align-items: flex-end;
  }
  &:hover {
    border-color: $ACCENT_COLOR;
  }
}

.input {
  width: 100%;
  border: none;
  position: absolute;
  &:focus {
    outline: none;
    color: $ACCENT_COLOR;
  }
}

.inputDes {
  width: fit-content;
  position: absolute;
  left: 1.2rem;
  top: 50%;
  transform: translateY(-50%);
  color: $SUB_L_COLOR;
  cursor: text;

  &.active {
    top: 0.4rem;
    transform: none;
  }
}

.inputToggle {
  width: 2.4rem;
  height: 2.4rem;
  position: absolute;
  top: 50%;
  right: 0.8rem;
  transform: translateY(-50%);
  cursor: pointer;
  color: $ACCENT_COLOR;
}

.message {
  margin-right: 30px;
  width: 350px;
  line-height: 1rem;
  color: $ACCENT_COLOR;
}

.loginBtn {
  width: 100%;
  background-color: $ACCENT_LIGHT_COLOR;
  cursor: pointer;
  color: white;
  border-radius: 0.8rem;
  padding: 0.8rem 1.6rem;
  &:hover {
    background-color: $ACCENT_COLOR;
  }
}

.hrBox {
  width: 100%;
  height: 1.8rem;
  display: flex;
  align-items: center;
  > hr {
    width: 100%;
    height: 0.1rem;
    background-color: $SUB_COLOR;
  }
  > p {
    width: 34%;
    color: $SUB_COLOR;
    text-align: center;
  }
}

.intoLogin {}

.intoLoginSpan {
  color: $ACCENT_LIGHT_COLOR;
}

.company {
  position: fixed;
  bottom: 1.6rem;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  left: 50%;
  transform: translateX(-50%);
}

.companyName {
  color: $ACCENT_COLOR;
}
