@import "../../styles/reset.scss";
@import "../../styles/_variabled";

.wrapper {
  height: 4.8rem;
  background-color: var(--sub-bg);
  display: flex;
  align-items: center;
}

.logoBox {
  width: 30%;
}

.leftMenu {
  max-width: 65rem;
  display: flex;
  height: 4.8rem;
  align-items: center;
  font-size: 1.6rem;
}

.rightMenu {
  position: absolute;
  right: 5%;
  display: flex;
  align-items: center;
}

.logo {
  position: absolute;
  top: 0;
  left: 5%;
  width: 5rem;
}

.tabMenu {
  background-color: #fff;
  height: 100%;
  padding: 0 1.5rem;
  display: flex;
  align-items: center;
}

.navIcon {
  font-size: 3.2rem;
  color: var(--accent);
  cursor: pointer;

  &:hover {
    filter: opacity(75%);
  }
}

.myProfile {
  width: 3.6rem;
  height: 3.6rem;
  margin-left: 3rem;

  background: {
    position: center;
    image: url("https://picsum.photos/300");
    repeat: no-repeat;
    size: cover;
  }
  border: {
    radius: 50%;
    width: 0.2rem;
    color: var(--accent);
    style: solid;
  }
  cursor: pointer;

  &:hover {
    filter: opacity(75%);
  }
}
