@import "../../styles/reset.scss";
@import "../../styles/_variabled";

.wrapper {
  height: 3.6rem;
  background-color: var(--sub-bg);
  display: flex;
  align-items: center;
}

.logoBox {
  width: 25%;
}

.leftMenu {
  max-width: 65rem;
  display: flex;
  height: 4.8rem;
  align-items: center;
}

.rightMenu {
  position: absolute;
  right: 5%;
  display: flex;
  align-items: center;
}

.logo {
  position: absolute;
  top: 0;
  left: 5%;
  width: 3rem;
  height: 3.6rem;
}

.tabMenu {
  // background-color: var(--sub-more-light);
  background-color: var(--thd-bg);
  border: {
    left: 0.1rem solid var(--bg);
    right: 0.1rem solid var(--bg);
  }
  height: 3.6rem;
  padding: 0 1.6rem;
  display: flex;
  align-items: center;
  grid-gap: 0.8rem;
  color: var(--primary);

  &.active {
    background-color: var(--bg);
  }
  &:hover {
    filter: opacity(75%);
  }
}

.navIcon {
  cursor: pointer;
  width: 2.4rem;
  height: 2.4rem;
  &:hover {
    filter: opacity(75%);
  }
}

.myProfile {
  width: 2.4rem;
  height: 2.4rem;
  margin-left: 3rem;

  background: {
    position: center;
    image: url("/assets/svgs/352174_user_icon.svg");
    repeat: no-repeat;
    size: cover;
  }
  border: {
    radius: 50%;
    width: 0.2rem;
    color: var(--accent);
    style: solid;
  }
  cursor: pointer;

  &:hover {
    filter: opacity(75%);
  }
}
