@import "../../styles/reset.scss";
@import "../../styles/_variabled";

.modalWrapper {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 10;
}

.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 90%;
  max-width: 48rem;
  background-color: var(--sub-bg);
  padding: 0 2rem 2rem 2rem;
  border-radius: 0.8rem;
  box-shadow: 0 0 0.8rem 0 rgba(0, 0, 0, 0.3);
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 0.8rem;
  > * {
    width: 100%;
  }
}

.buttonsWrapper {
  width: 100%;
  display: grid;
  grid-template-columns: 1fr 2fr 1fr;
  padding: 0.8rem 0;
  text-align: center;
  color: var(--accent);

  > .titleBox {
    display: flex;
    align-items: center;
    justify-content: center;
  }

  > .btnBox {
    display: flex;
    justify-content: flex-end;
    align-items: center;
  }
}

.writeTitle,
.writeContent,
.writeTag {
  > input, .memoBoxMemo {
    width: 100%;
    border: 0.2rem solid var(--sub-light);
    border-radius: 0.4rem;
    padding: 0.8rem;
  }

  > .memoBoxMemo {
    height: 24rem;
  }
}

.tagsBox {
  margin-top: 0.8rem;
  display: flex;
  flex-wrap: wrap;
  gap: 0.8rem;

  > p {
    padding: 0.4rem 1.6rem;
    cursor: pointer;
    border: {
      style: solid;
      width: 0.2rem;
      color: var(--sub);
      radius: 0.8rem;
    }

    &:hover {
      border-color: transparent;
      background-color: var(--accent);
      color: white;
    }
  }
}

.closeBtn {
  position: absolute;
  top: 0.8rem;
  right: 0.8rem;
  width: 1.5rem;
  height: 1.5rem;
  border-radius: 0.3rem;
  background-color: transparent;
  text-align: center;
  line-height: 1.5rem;
  color: #fff;
  cursor: pointer;
  &:hover {
    opacity: 75%;
  }
}

.submitBtn {
  padding: 0.4rem 0.8rem;
  border-radius: 0.4rem;
  background-color: transparent;
  color: var(--accent-light);
  cursor: pointer;
  &:hover {
    background-color: var(--accent);
    color: #fff;
  }
}
