@import "../../styles/reset.scss";
@import "../../styles/_variabled";

.wrapper {
  width: 100%;
  height: calc(100vh - 3.6rem);
  padding: 1.6rem 2.4rem;
  background-color: var(--bg);
  display: flex;
  justify-content: center;

  >.swiper {
    width: 100%;
    height: 100%;
    max-width: 64rem;
    border-radius: 0.8rem;
    box-shadow: 0 0.4rem 0.8rem rgba($color: #000000, $alpha: 0.35);

    .listBox {
      display: flex;
      flex-direction: column;
      width: 100%;
      height: 100%;
      max-width: 64rem;
      text-align: center;
      padding: 0.8rem 1.6rem;
    
      > div {
        padding: 0.8rem 1.6rem;
      }
    
      > .titleBox {
        border-bottom: 0.2rem solid var(--sub-light);
        display: flex;
        align-items: center;
        justify-content: space-between;
    
        > .title {
          display: flex;
          align-items: center;
          gap: 0.4rem;
        }
    
        > .newChat {
          cursor: pointer;
          color: var(--accent-more-light);
    
          &:hover {
            color: var(--accent);
          }
        }
      }
    
      > .noExistsBox {
        width: 100%;
        height: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        gap: 0.8rem;
      }
    }
  }
}

.chatContainer {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
  max-width: 64rem;
  padding: 0.8rem 1.6rem;
  box-sizing: border-box;
  background-color: var(--sub-bg);
}

.messageList {
  flex-grow: 1;
  overflow-y: auto;
  display: flex;
  flex-direction: column;
  justify-content: start;
  width: 100%;
}

.messageBox {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  .onMessageBox {
    max-width: 18rem;
    img {
      width: 100%;
      margin-bottom: 0.8rem;
      object-fit: cover;
    }
  }
  .underMessageBox {
    display: flex;
    justify-content: flex-end;
  }
}

.messageBoxN {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  .onMessageBoxN {
    max-width: 18rem;
    img {
      width: 100%;
      margin-bottom: 0.8rem;
      object-fit: cover;
    }
  }
  .underMessageBoxN {
    display: flex;
    justify-content: flex-start;
  }
}

.message {
  display: flex;
  justify-content: flex-start;
  align-self: flex-start;
  margin-bottom: 1rem;
  &.user {
    align-self: flex-end;
    justify-content: flex-end;
  }
}

.messageText {
  display: inline-block;
  padding: 0.8rem;
  max-width: 25rem;
  border-radius: 0.8rem;
  background-color: var(--thd-bg);
  color: var(--primary);
  font-size: 1.4rem;
  line-height: 1.8rem;
  white-space: pre-wrap;
}

.messageTime {
  color: var(--primary);
  display: flex;
  align-items: end;
  margin: 0 0.6rem;
}

.chatInput {
  display: flex;
  align-items: center;
  gap: 0.8rem;

  &Box {
    display: flex;
    gap: 0.4rem;
    flex: 1;
    padding: 0.8rem 1.6rem;
    border: none;
    border-radius: 0.8rem;
    background-color: var(--thd-bg);
    // color: #262626;
    box-shadow: none;

    > .postFunBox {
      width: 2rem;
      height: 2rem;
      aspect-ratio: 1/1;
      > svg {
        width: 2rem;
        height: 2rem;
        aspect-ratio: 1 / 1;
        cursor: pointer;
        color: var(--primary);

        &:hover {
          color: var(--accent);
        }
      }
    }
  }

  &In {
    width: 100%;
  }
  &Btn {
    height: 100%;
    padding: 0.8rem 1.6rem;
    border: none;
    border-radius: 0.8rem;
    background-color: var(--accent);
    color: #fff;
    box-shadow: none;
    cursor: pointer;
  }
  .imgInput {
    display: none;
  }
}
