.modalContent {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 42rem;
  max-height: 80vh;
  overflow-y: auto;
  background-color: #fff;
  border-radius: 0.5rem;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
  padding: 2rem;
}

.modalHeader {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 1rem;
}

.modalTitle {
}

.modalClose {
  border: none;
  background-color: transparent;
  color: #777;
  cursor: pointer;
}

.modalTabs {
  display: flex;
  margin-bottom: 1rem;
}

.modalTab {
  border: none;
  background-color: transparent;
  color: #777;
  font-size: 1rem;
  font-weight: 600;
  margin-right: 1rem;
  padding-bottom: 0.5rem;
  cursor: pointer;
  transition: all 0.2s;

  &:hover {
    color: #000;
  }
}

.modal__tab--active {
  color: #000;
  border-bottom: 2px solid #000;
}

.modalBody {
  max-height: 60vh;
  overflow-y: auto;
}

.modalList {
  list-style: none;
  padding: 0;
  margin: 0;
}

.modalItem {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 1rem;
}

.modalAvatar {
  width: 4.4rem;
  height: 4.4rem;
  border-radius: 50%;
  margin-right: 1rem;
}

.modalUser {
  display: flex;
  flex: 1;
  flex-direction: column;
}

.modalName {
  color: #777;
  margin-top: 0.5rem;
}

.modalFollow {
  border: none;
  background-color: #3897f0;
  color: #fff;
  padding: 0.5rem 1rem;
  border-radius: 5px;
  font-size: 1rem;
  font-weight: 600;
  cursor: pointer;
}

.modalUnfollow {
  border: none;
  background-color: transparent;
  color: var(--accent);
  padding: 0.5rem 1rem;
  border-radius: 5px;
  font-size: 1rem;
  font-weight: 600;
  cursor: pointer;
  transition: all 0.2s;

  &:hover {
    background-color: var(--accent);
    color: #fff;
  }
}
