@import "/font.scss";
@import "/_variabled";
@import "/reset.scss";

.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

/* header {
  background-color: #343034;
  width: 100%;
  height: 48px;
  border-bottom: 1px solid #DDD;
}

.asdf {
  display: flex;
}

.content {
  width: 70%;
  background-color: #242024;
  height: calc(100vh - 48px);
}

footer {
  width: 30%;
  background-color: #343034;
  height: calc(100vh - 48px);
}

.user {
  background-image: url("https://picsum.photos/450");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  width: 48px;
  height: 48px;
  border-radius: 50%;
  border: 3px solid #A174CF;
}

.name {
  font-size: 28px;
  color: #9564C5;
  font-weight: 700;
} */

header {
  // background-color: #F3f3F3;
  width: 100%;
  height: 48px;
  border-bottom: 1px solid #DDD;
}

.asdf {
  display: flex;
}

.content {
  width: 70%;
  // background-color: #fff;
  height: calc(100vh - 48px);
}

footer {
  width: 30%;
  // background-color: #F3F3F3;
  height: calc(100vh - 48px);
}

.user {
  background-image: url("https://picsum.photos/450");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  width: 4.8rem;
  height: 4.8rem;
  border-radius: 50%;
  border: 3px solid #A174CF;
}