@import "./_variabled";

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  transition: all 150ms ease-in-out;
}

body {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  transition: all 200ms ease-in-out;
  background-color: map-get($LIGHT_THEME, background-color);
  &.dark-theme {
    background-color: map-get($DARK-THEME, background-color);
  }
}